


/* Estilo propio del usuario. */

body
{
    color: gray;
    background-image: url( "../img/fondo.jpg" );
    background-repeat: no-repeat;
}

table
{
    width: 100%;
    align-content: center;
}

.contenedor-general-objetos
{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    opacity: 0.95;
    /*width: 100%;*/
    padding: 10px 10px 20px 10px;
    /*box-shadow: 5px 5px 20px maroon;*/
    /*box-shadow: 0 0 15px 0 maroon;*/
    box-shadow: 8px 8px 10px 0;
    /*box-shadow: inset 15px 15px 50px 0;*/
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9D6A24;
    color: white;
    text-align: center;
 }